/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
}

/* Kanbahn */

:root {
  --xl-viewport: 1824px;
  --large-viewport: 1536px;
  --medium-viewport: 1280px;
  --small-viewport: 1024px;
  --default-margin: 4px;
}

.root-container {
  position: relative;
  display: block;
  background: white;
  height: 100%;
  /*width: var(--small-viewport);*/
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}

.app-header {
  display: flex;
  justify-content: space-between;
}

/*
@media screen and (min-width: 1280px) {
  .root-container {
    position: relative;
    display: block;
    background: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
  }
}

@media screen and (min-width: 1536px) {
  .root-container {
    position: relative;
    display: block;
    background: white;
    height: 100%;
    width: var(--large-viewport);
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
  }
}

@media screen and (min-width: 1824px) {
  .root-container {
    position: relative;
    display: block;
    background: white;
    height: 100%;
    width: var(--xl-viewport);
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
  }
}*/

* {
	outline: none;
}

.feature-lane {
  position: relative;
  background: linear-gradient(to top left, rgb(221, 221, 221), rgb(250, 250, 250));
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: var(--default-margin);
  border-radius: 2px;
  margin-bottom: calc(2 * var(--default-margin));
}

.flex-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.flex-column {
  margin: var(--default-margin);
  background: rgb(255, 255, 255);
  /*flex: 2 1 0;*/
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  background: linear-gradient(to top left, rgb(243, 243, 243), rgb(250, 250, 250));
  border-radius: 2px;
}

.flex-column.double {
  flex: 2 1 0;
}

.flex-column.single {
  flex: 1 1 0;
}

.flex-card-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: var(--default-margin);
}

.card {
  /* Layout */
  margin: var(--default-margin);
  padding: 10px;
  width: calc(50% - calc(2 * var(--default-margin)));
  min-width: 175px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: break-word;
  /* Visual */
  background: linear-gradient(to top left, rgb(255, 246, 196), rgb(252, 247, 221));
  border: 0px solid rgb(211, 204, 163);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  border-radius: 2px;
}

.card.placeholder {
  background: rgb(226, 226, 226);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
}

.card.placeholder:hover {
  background: linear-gradient(to top left, rgb(255, 246, 196), rgb(252, 247, 221));
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}

.card.placeholder:active {
  outline: none !important;
  border: none !important;
}

.card textarea {
  background: rgba(255, 255, 255, 0);
  border-width: 0px;
  font: 400 16px Arial;
  width: 100%;
  resize: vertical;
}

.flex-column.single .card {
  width: calc(100% - calc(2 * var(--default-margin)));
}

/*Simple stuff*/

.text-box {
  margin: 0px;
  padding: var(--default-margin);
}

.column-header {
  margin: 0px;
  padding: 8px;
  text-align: center;
  /*border-bottom: 1px solid rgb(194, 194, 194);*/
  color: #333333;
}

p {
  font-family: "Arial";
  color: #333333;
}

h1 {
  font-family: "Arial";
  font-size: 16px;
  color: #333333;
}
